
USER NAME: 

Canciones favoritas


<div class="tracks-page">
<h2>Canciones</h2>
    <div class= "tracks-list">
        {{#each userTracks }}
            <ul class="d-flex align-items-center m-2 border bg-light mx-5">
              <li class="name col-4">{{name}}</li>
              <li class="name col-4">{{artist}}</li>
              
              {{!-- <li class="col-4 text-center">
                   {{#if this.preview_url}}
                        <audio controls src="{{this.preview_url}}"></audio>   
                  {{/if}} 
               </li> --}}
              <li class="col-2 text-center m-1">
                  <a class="btn btn-info" href="/lyric/{{artist}}/{{name}}">Ver letra</a>  
              </li>
              {{!-- <li class="col-2 m-1 text-center">
                <form action="/favorites/add" method="post">
                       <input type="hidden" name="name" value="{{this.name}}">
                       <input type="hidden" name="artist" value="{{this.artists.0.name}}">
                       <button type="submit" class="btn btn-warning">Añadir a favoritos</button>       
                </form> 
              </li> --}}
            </ul>
        {{/each}}
    </div>
</div>