{{!--  <div class= "totalAlbums card">
    <div class="row">
        {{#each totalAlbumsArr}}
             <div class="name">{{this.name}}</div>
             <img class="img" src="{{this.images.[0].url}}" alt="{{this.name}}">
             <a href="/tracks/{{this.id}}">Tracks</a>         
        {{/each}}
    </div>
</div> --}}

<div class= "albums-page">
    <h2>ÁLBUMES</h5>
    <div class= "totalAlbums row row-cols-1 row-cols-md-4 g-4 text-center m-3">
        {{#each totalAlbumsArr}}
         <div class= "col">
            <div class="card border-warning bg-light mb-3">
                <div class= "card-header">
                    <h5 class="text-dark">{{this.name}}</h5>
                </div>
                 <img class="img" src="{{this.images.[0].url}}" alt="{{this.name}}">
                 <a class ="btn btn-light" href="/tracks/{{this.id}}">Ver canciones</a>   
            </div>
        </div>
        {{/each}}
    </div>
</div>