<div class="lyric-page">
    <div class="content-lyric-page d-flex justify-content-evenly text-center">
        <div class="lyric-page-name-artist d-flex flex-column justfy-column justify-content-evenly text-center p-5">
            <div>
                <h2>{{artistName}}</h2>
                <h4 class="m-5">"{{{trackName}}}"</h4>
            </div>
            <div>
                <form action="/favorites/add" method="post">
                   <input type="hidden" name="name" value="{{artistName}}">
                   <input type="hidden" name="artist" value="{{trackName}}">
                   <button type="submit" class=" btn btn-warning">Añadir a favoritos</button>       
            </form>
            </div>
        </div>
        <div class="p-5">
            {{#if lyric}}
                <textarea class="p-3" name="textarea" rows="20"  cols="50">{{lyric}}</textarea>
            {{else}}
                <p>Uuups, no se ha encontrado la letra de esta canción. ¡SORRY!</p>
            {{/if}}
            
        </div>
        
    </div>
</div>

{{#if user}}
    <p class="hide" id="check-user">true</p>
{{/if}}

